# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.venv/
.env/

# env
.env
.env.*

# but allow .env.example
!.env.example

# IDE
.vscode/
.idea/

# Logs
*.log

# OS
.DS_Store

# SonarQube
.sonar
.sonarqube/
.scannerwork/
sonar-project.properties

# Local files
todo

data/
